<!DOCTYPE HTML>

<head>
    <title> PDF Library </title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{%static 'StaticCSSFiles/IndexStyleSheet.css' %}"></link>

    <style>

        #headerpara {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5vw;
            text-align: center;
        }

    </style>
</head>

<html>
    
    <div id="BackgroundStuff">
        <video autoplay muted loop>
            <SOURCE src="{%static 'StaticMediaFiles/video_background.mp4' %}" type="video/mp4" >
        </video>
    </div>
    
    <div id="ForegroundStuff">

        <div id="header">
            <h1>About us</h1>
            <p id="headerpara"> 
                Welcome! This project is developed as the major project work of MCA 6<sup>th</sup> sem 3<sup>rd</sup> year.<br><br>
                This is an simple web application which solves the issue of handling soo many pdf.
                There are times when you need some of you pdf document but you won't find it on you device, because may be its in some folder 
                you forget about or it may not at all on that perticular device of yours.<br><br>
                To solve this proble we present a pdf file organiser for you, which organise your books(PDFs) and 
                keep them on server so that you an access them anywhere without any hustle.<br>
                <br>
                <br>
                <br>
                Project developers<br>
                Aman Verma ( IC-2K17-51 ) <br>
                Some one   ( IC-2K17-00 ) <br>
                <br>
                <br>

            </p>
        </div>

    </div>
</html>