<!DOCTYPE HTML>

<head>

    <title> PDF Library </title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{%static 'StaticCSSFiles/IndexStyleSheet.css' %}"></link>
    <style>

        #headerpara {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.5vw;
            text-align: center;
        }

    </style>

</head>

<html>
    
    <div id="BackgroundStuff">
        <video autoplay muted loop>
            <SOURCE src="{%static 'StaticMediaFiles/video_background.mp4' %}" type="video/mp4" >
        </video>
    </div>
    
    <div id="ForegroundStuff">

        <div id="header">
            <h1>Contact us</h1>
            <p id="headerpara"> 
                Feel free to contact us if you face any dificultie in using the application or if you face any error. 
                Do not attempt to sort any unknown error or problem because there is the possiblity that the problem 
                is occuring due to some bug. Inform us we will try to fix the bug as soon as poossible.<br>
                <br>
                <br>
                Contact no.<br>
                9993988213<br>
                <br>
                <br>
                E-mail<br>
                amanverma03328@gmail.com

                 
            </p>
        </div>

    </div>

</html>